docs/n8n/restaurant-admin-notifications.workflow.json
{
  "name": "Restaurant Admin Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "restaurant-admin-notify",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "Webhook",
      "name": "Admin Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const secret = $env.N8N_ADMIN_WEBHOOK_SECRET || '';\nconst received = $json.headers?.['x-n8n-secret'] || $json.headers?.['X-N8N-Secret'] || '';\nconst body = $json.body || $json;\nconst booking = body.booking || {};\nconst table = booking.table || {};\nconst payment = body.payment || {};\nconst amount = payment.amount ? `${Number(payment.amount).toLocaleString('vi-VN')} ${payment.currency || 'VND'}` : 'N/A';\nconst text = [\n  `[ADMIN] ${body.event || 'booking event'} (${body.action || 'updated'})`,\n  `Ma booking: ${booking.code || 'N/A'}`,\n  `Khach: ${booking.guest_name || 'N/A'} - ${booking.guest_phone || 'N/A'}`,\n  `Thoi gian: ${booking.booking_date || 'N/A'} ${booking.booking_time || ''}`,\n  `So khach: ${booking.party_size || 'N/A'}`,\n  `Ban: ${table.id || 'N/A'} - tang ${table.floor || 'N/A'} - ${table.table_type_label || table.table_type || 'N/A'}`,\n  `Trang thai booking: ${booking.status_label || booking.status || 'N/A'}`,\n  `Thanh toan: ${payment.status_label || payment.status || 'N/A'} - ${amount}`,\n  booking.notes ? `Ghi chu: ${booking.notes}` : null,\n].filter(Boolean).join('\\n');\nreturn [{ json: { ok: !secret || received === secret, text, body } }];"
      },
      "id": "BuildMessage",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "value2": true
            }
          ]
        }
      },
      "id": "CheckSecret",
      "name": "Secret OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/me/messages?access_token={{$env.FACEBOOK_PAGE_ACCESS_TOKEN}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={{JSON.stringify({ id: $env.FACEBOOK_ADMIN_PSID })}}"
            },
            {
              "name": "message",
              "value": "={{JSON.stringify({ text: $json.text })}}"
            }
          ]
        },
        "options": {}
      },
      "id": "Facebook",
      "name": "Send Facebook Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 120]
    }
  ],
  "connections": {
    "Admin Notification Webhook": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Secret OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret OK?": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Facebook Messenger",
            "type": "main",
            "index": 0
          }
        ],
        [
          
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
